.button{
    transition:background-color , transform 0.3s;
    border:0.2rem solid black;
    border-radius: 0.5rem;
    height: 3rem;
    width: 6rem;

}

.button:hover{
    background-color: black;
    color: white;
}

.button:active{
    transform: scale(1.1)
}